@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&family=Lexend:wght@200;300;700&display=swap");

/* CSS Variables */
:root {
  --color-red: #ff3666;
  --color-orange: #ff6b00;
  --color-background: #f2f2f2;
  --color-black: #000000;
  --color-grey-subtext: #717171;

  /*container class width will change with screen size*/
  --container-width: 94%;
}

/* Global Styles */

body {
  background: var(--color-background);
  font-family: "Inter", sans-serif;
}

.container {
  margin: 0 auto;
  width: var(--container-width);
}

/* Typography */

h1 a {
  font-family: "Lexend", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
@media only screen and (min-width: 600px) {
  h1 a {
    font-size: 2.25rem;
  }
}
@media only screen and (min-width: 1024px) {
  h1 a {
    font-size: 2.5rem;
  }
}

h2 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.25;
}
@media only screen and (min-width: 600px) {
  h2 {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  h2 {
    font-size: 4.5rem;
  }
}

p {
  font-weight: 300;
  line-height: 1.15;
  font-size: 1rem;
}
@media only screen and (min-width: 600px) {
  p {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  p {
    font-size: 1.75rem;
  }
}

.header {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background: linear-gradient(60deg, var(--color-red), var(--color-orange));
  background: conic-gradient(#ff3666, #ff6b00);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.tagline {
  margin-top: 3.5rem;
  margin-bottom: 3rem;
  max-width: 900px;
}
@media only screen and (min-width: 600px) {
  .tagline {
    margin-top: 6rem;
    margin-bottom: 4rem;
  }
}

.styled-text {
  --bg-size: 400%;
  background: linear-gradient(
      90deg,
      var(--color-red),
      var(--color-orange),
      var(--color-red)
    )
    0 0 / 400% 100%;

  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/* Only enable animation without reduced motion */
@media (prefers-reduced-motion: no-preference) {
  .styled-text {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}

.description {
  color: var(--color-grey-subtext);
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 750px;
}

.email-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 750px;
}
@media only screen and (min-width: 768px) {
  .email-form {
    flex-direction: row;
  }
}

.email-input {
  background: #f5f5f5;
  border: 1px solid;
  padding: 1rem 0.5rem;
}
@media only screen and (min-width: 768px) {
  .email-input {
    width: 100%;
    max-width: 600px;
  }
}

.email-input::placeholder {
  color: #bebebe;
  font-family: "Lexend", "san-serif";
  font-weight: 200;
}

.email-input:invalid {
  border-color: #ff3666;
}

.submit-button {
  border: 1px solid;
  padding: 1rem;
  color: var(--color-background);
  background: linear-gradient(65deg, var(--color-red), var(--color-orange));
  font-weight: 700;
  flex-shrink: 0;
}
@media only screen and (min-width: 768px) {
  .submit-button {
    width: 9.5rem;
  }
}

.submit-button:disabled {
  color: #909090;
  background: #c3c3c3;
  font-weight: 200;
}

.submit-button:hover:not(:disabled) {
  cursor: pointer;
  background: var(--color-red);
  border-color: transparent;
}

.email-form,
.email-input,
.email-input::placeholder,
.submit-button {
  font-size: 1.25rem;
}

.submitted-message {
  display: none;
  font-size: 1rem;
}
@media only screen and (min-width: 600px) {
  .submitted-message {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 1024px) {
  .submitted-message {
    font-size: 1.5rem;
  }
}
